.movies-container{
  width: 60%;
  display: inline-block;
  margin-left: 400px;
}

.col1{
  display: inline-block;
}

.col2{
  display: inline-block;
}

.movie-container{
  width: 285px;
  height: 285px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8px;
}

.movie-container img{

}

.img-circle {
    /*border-radius: 50%;*/
    /*width: 250px;
    height: 250px;*/
    /*background-position: center center;
    background-repeat: no-repeat;*/
}
