.movies-container {
  width: 60%;
  display: inline-block;
  margin-left: 200px;
}

.col1 {
  display: inline-block;
}

.col2 {
  display: inline-block;
  position: absolute;
  top: -120px;
  right: 90px;
}

.movie-container {
  width: 285px;
  height: 285px;
  overflow: hidden;
  border-radius: 50%;
  margin: 8px;
}

.movie-container {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

/*.img-circle {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
}

.xs-shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}*/

.movie-container:hover {
  transform: scale(1.035);
  box-shadow: 0 0px 28px 3px
  rgba(0,0,0,0.25), 0 0px 10px 3px
  rgba(0,0,0,0.22);
}
