.description-container{
  display: inline-block;
  width: 400px;
  margin: 50px;
  text-align: left;
  position: fixed;
  left: 0;

  .description{
    display: inline-block;
    width: 400px;
    margin: 100px 100px;
    text-align: left;
    position: fixed;
    left: 0;
  }

  p{
    width: 320px;
    opacity: .7;
    line-height: 1.9;
  }

}
