.navigation{
 ul{
   display: flex;
   list-style: none;
   position: fixed;
   margin: 100px 0px 0px 0px;
   padding: 0px;
 }

 li .link{
 	padding: 25px;
   text-decoration: none;
 }

 li :first-child{
   padding-left: 0px;
 }
}
