/*.description-container{
  width: 40%;
  display: inline-block;
  width: 400px;
  margin: px;
  text-align: left;
  position: fixed;
  left: 0;
}

.text-field{
  display: inline-block;
  width: 400px;
  margin: 100px;
  text-align: left;
  position: fixed;
  left: 0;
}*/
